@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* 見出し */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #432 solid;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: rgba(255,255,255,.5);
    color: #fff;
    background: #432;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    color: #432;
    background: #432;
    
}

/* HEADER
------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
}
h1 {
	width: 100px;
	margin-top: 14px;
	animation: r1 10s linear infinite;
}
@keyframes r1 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 0 5px;
  width: 110px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #432;
  border-radius: 50%;
  box-sizing: border-box;
}
.main-nav li :before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #432;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main-nav a {
    color: #fffafa;
}
.main-nav a:hover {
    color: #432;
}

/* HOME
------------------------------- */
.home-content {
    text-align: center;
    margin-top: 6%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 5px 0 100px;
}

#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
}
/* MENU
------------------------------- */
#menu {
    background-image: url(../images/menu-bg.jpg);
    min-height: 100vh;
}
.menu-content {
    max-width: 560px;
    margin-top: 10%;
}
.menu-content p {
    font-size: 1.125rem;
    margin: 10px 0 0;
}

.grid {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 6%;
    margin-bottom: 60px;
}
.item {
	position: relative;
	width: 300px;
	height: 200px;
}
.item img {
	position: relative;
	width: 100%;
	height: 120%;
}
.item .box {
	position: absolute;
	width: 308px; /* 画像の幅と左右の余白をプラスした値 */
	height: 264px; /* 画像の高さと吹き出しと余白の高さをプラスした値 */
	top: -4px; /* 余白分上にずらす */
	left: -4px; /* 余白分左にずらす */
	border-radius: 4px 4px 10px 10px;
	background-color: #fff;
	box-shadow: 2px 2px 4px #000;
	display: none;
}
.item .text {
	position: absolute;
	font-size: 16px;
	left: 4px;
	top: 208px;
	color: #000;
}
.item:hover img {
	z-index: 4; /* .boxよりも上に表示 */
}
.item:hover .box {
	z-index: 3; /* imgよりも下に表示 */
	display: block;
}

/* CONTACT
------------------------------- */
#contact {
    background-image: url(../images/contact-bg.jpg);
    min-height: 100vh;
}

/* フォーム */
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
    color: #fff;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

/* 店舗情報・地図 */
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
}
.location-info {
    width: 22%;
}
.location-info p {
    padding: 12px 10px;
}
.location-map {
    width: 74%;
}
/* iframe */
iframe {
    width: 100%;
}

/* フッター
------------------------------- */
footer {
    background: #432;
    text-align: center;
    padding: 1px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}
/* モバイル版
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    
    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }
    /* NEWS */
    .news-contents {
        flex-direction: column;
    }
    article,
    aside {
        width: 100%;
    }
    
    /* MENU */
    .menu-content {
        margin-top: 20%;
    }
    .big-box {
    	grid-column: auto;
    	grid-row: auto;
    }
    /big-box img {
    	height: 100%;
    }
        /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }

    /* フォーム */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }
}